.landing h1 {
    position: absolute;
    width: 776px;
    height: 61px;
    left: 90px;
    top: 41px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing h2 {
    position: absolute;
    width: 434px;
    height: 27px;
    left: 144px;
    top: 102px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing h3 {
    position: absolute;
    width: 433px;
    height: 56px;
    left: 783px;
    top: 20px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing h4 {
    position: absolute;
    width: 174px;
    height: 41px;
    left: 885px;
    top: 140px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing h5 {
    position: absolute;
    width: 175px;
    height: 41px;
    left: 885px;
    top: 200px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing h6 {
    position: absolute;
    width: 213px;
    height: 41px;
    left: 885px;
    top: 260px;

    font-family: LEMON MILK;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.landing .landing-top {
    background-color: white;

}

.landing .landing-bottom {
    position: fixed; 

    background-color: #A6CFD5;
    margin-top: 15%;
    width: 100%;
    height: auto; 
    min-height: 100%;
}

.landing .test-image {
    position: absolute;
    width: 598px;
    height: 471px;
    left: 179px;
    top: 312px;
}

.landing .camera-size {
    width: 60%;
    margin-top: 50px;
}

